:root {
  font-family: sans-serif;

  --clock-size: min(80vw, 80vh, 480px);
  font-size: calc(var(--clock-size) / 32);
  --clock-lit-color: hsl(38, 75%, 95%);
  --clock-dim-color: hsl(38, 75%, 42%);
  --clock-background: hsl(38, 75%, 50%);
  --page-background: hsl(43, 85%, 55%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --clock-lit-color: hsl(38, 75%, 95%);
    --clock-dim-color: hsl(38, 75%, 12%);
    --clock-background: hsl(38, 75%, 5%);
    --page-background: hsl(43, 85%, 5%);
  }
}

* {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--page-background);
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.clock {
  width: var(--clock-size);
  padding: calc(var(--clock-size) / 12);
  color: var(--clock-dim-color);
  background-color: var(--clock-background);
  display: flex;
  flex-direction: column;
  border-radius: calc(var(--clock-size) / 12);
  box-shadow: 0 0 calc(var(--clock-size) / 16) var(--clock-background),
    0 0 var(--clock-size) rgba(255, 255, 255, 0.125);
  user-select: none;
  -webkit-user-select: none;
}

.clock-row {
  display: flex;
  flex-direction: row;
}

.letter {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  aspect-ratio: 1;
  transition: 1s color, 1s text-shadow;
}

.letter span {
  text-align: center;
  cursor: default;
}

/* prettier-ignore-start */
.it .l-it,
.is .l-is,
/* am or pm */
.am .l-am,
.pm .l-pm,
/* hours */
:is( .m-0,  .m-1,  .m-2,  .m-3,  .m-4,  .m-5,  .m-6,  .m-7,  .m-8,  .m-9, .m-10, .m-11, .m-12, .m-13, .m-14, .m-15, .m-16, .m-17, .m-18, .m-19, .m-20, .m-21, .m-22, .m-23, .m-24, .m-25, .m-26, .m-27, .m-28, .m-29, .m-30, .m-31, .m-32, .m-33, .m-34).h-1  .l-h-one,
:is( .m-0,  .m-1,  .m-2,  .m-3,  .m-4,  .m-5,  .m-6,  .m-7,  .m-8,  .m-9, .m-10, .m-11, .m-12, .m-13, .m-14, .m-15, .m-16, .m-17, .m-18, .m-19, .m-20, .m-21, .m-22, .m-23, .m-24, .m-25, .m-26, .m-27, .m-28, .m-29, .m-30, .m-31, .m-32, .m-33, .m-34).h-2  .l-h-two,
:is( .m-0,  .m-1,  .m-2,  .m-3,  .m-4,  .m-5,  .m-6,  .m-7,  .m-8,  .m-9, .m-10, .m-11, .m-12, .m-13, .m-14, .m-15, .m-16, .m-17, .m-18, .m-19, .m-20, .m-21, .m-22, .m-23, .m-24, .m-25, .m-26, .m-27, .m-28, .m-29, .m-30, .m-31, .m-32, .m-33, .m-34).h-3  .l-h-three,
:is( .m-0,  .m-1,  .m-2,  .m-3,  .m-4,  .m-5,  .m-6,  .m-7,  .m-8,  .m-9, .m-10, .m-11, .m-12, .m-13, .m-14, .m-15, .m-16, .m-17, .m-18, .m-19, .m-20, .m-21, .m-22, .m-23, .m-24, .m-25, .m-26, .m-27, .m-28, .m-29, .m-30, .m-31, .m-32, .m-33, .m-34).h-4  .l-h-four,
:is( .m-0,  .m-1,  .m-2,  .m-3,  .m-4,  .m-5,  .m-6,  .m-7,  .m-8,  .m-9, .m-10, .m-11, .m-12, .m-13, .m-14, .m-15, .m-16, .m-17, .m-18, .m-19, .m-20, .m-21, .m-22, .m-23, .m-24, .m-25, .m-26, .m-27, .m-28, .m-29, .m-30, .m-31, .m-32, .m-33, .m-34).h-5  .l-h-five,
:is( .m-0,  .m-1,  .m-2,  .m-3,  .m-4,  .m-5,  .m-6,  .m-7,  .m-8,  .m-9, .m-10, .m-11, .m-12, .m-13, .m-14, .m-15, .m-16, .m-17, .m-18, .m-19, .m-20, .m-21, .m-22, .m-23, .m-24, .m-25, .m-26, .m-27, .m-28, .m-29, .m-30, .m-31, .m-32, .m-33, .m-34).h-6  .l-h-six,
:is( .m-0,  .m-1,  .m-2,  .m-3,  .m-4,  .m-5,  .m-6,  .m-7,  .m-8,  .m-9, .m-10, .m-11, .m-12, .m-13, .m-14, .m-15, .m-16, .m-17, .m-18, .m-19, .m-20, .m-21, .m-22, .m-23, .m-24, .m-25, .m-26, .m-27, .m-28, .m-29, .m-30, .m-31, .m-32, .m-33, .m-34).h-7  .l-h-seven,
:is( .m-0,  .m-1,  .m-2,  .m-3,  .m-4,  .m-5,  .m-6,  .m-7,  .m-8,  .m-9, .m-10, .m-11, .m-12, .m-13, .m-14, .m-15, .m-16, .m-17, .m-18, .m-19, .m-20, .m-21, .m-22, .m-23, .m-24, .m-25, .m-26, .m-27, .m-28, .m-29, .m-30, .m-31, .m-32, .m-33, .m-34).h-8  .l-h-eight,
:is( .m-0,  .m-1,  .m-2,  .m-3,  .m-4,  .m-5,  .m-6,  .m-7,  .m-8,  .m-9, .m-10, .m-11, .m-12, .m-13, .m-14, .m-15, .m-16, .m-17, .m-18, .m-19, .m-20, .m-21, .m-22, .m-23, .m-24, .m-25, .m-26, .m-27, .m-28, .m-29, .m-30, .m-31, .m-32, .m-33, .m-34).h-9  .l-h-nine,
:is( .m-0,  .m-1,  .m-2,  .m-3,  .m-4,  .m-5,  .m-6,  .m-7,  .m-8,  .m-9, .m-10, .m-11, .m-12, .m-13, .m-14, .m-15, .m-16, .m-17, .m-18, .m-19, .m-20, .m-21, .m-22, .m-23, .m-24, .m-25, .m-26, .m-27, .m-28, .m-29, .m-30, .m-31, .m-32, .m-33, .m-34).h-10 .l-h-ten,
:is( .m-0,  .m-1,  .m-2,  .m-3,  .m-4,  .m-5,  .m-6,  .m-7,  .m-8,  .m-9, .m-10, .m-11, .m-12, .m-13, .m-14, .m-15, .m-16, .m-17, .m-18, .m-19, .m-20, .m-21, .m-22, .m-23, .m-24, .m-25, .m-26, .m-27, .m-28, .m-29, .m-30, .m-31, .m-32, .m-33, .m-34).h-11 .l-h-eleven,
:is( .m-0,  .m-1,  .m-2,  .m-3,  .m-4,  .m-5,  .m-6,  .m-7,  .m-8,  .m-9, .m-10, .m-11, .m-12, .m-13, .m-14, .m-15, .m-16, .m-17, .m-18, .m-19, .m-20, .m-21, .m-22, .m-23, .m-24, .m-25, .m-26, .m-27, .m-28, .m-29, .m-30, .m-31, .m-32, .m-33, .m-34).h-12 .l-h-twelve,
:is(.m-35, .m-36, .m-37, .m-38, .m-39, .m-40, .m-41, .m-42, .m-43, .m-44, .m-45, .m-46, .m-47, .m-48, .m-49, .m-50, .m-51, .m-52, .m-53, .m-54, .m-55, .m-56, .m-57, .m-58, .m-59).h-1  .l-h-two,
:is(.m-35, .m-36, .m-37, .m-38, .m-39, .m-40, .m-41, .m-42, .m-43, .m-44, .m-45, .m-46, .m-47, .m-48, .m-49, .m-50, .m-51, .m-52, .m-53, .m-54, .m-55, .m-56, .m-57, .m-58, .m-59).h-2  .l-h-three,
:is(.m-35, .m-36, .m-37, .m-38, .m-39, .m-40, .m-41, .m-42, .m-43, .m-44, .m-45, .m-46, .m-47, .m-48, .m-49, .m-50, .m-51, .m-52, .m-53, .m-54, .m-55, .m-56, .m-57, .m-58, .m-59).h-3  .l-h-four,
:is(.m-35, .m-36, .m-37, .m-38, .m-39, .m-40, .m-41, .m-42, .m-43, .m-44, .m-45, .m-46, .m-47, .m-48, .m-49, .m-50, .m-51, .m-52, .m-53, .m-54, .m-55, .m-56, .m-57, .m-58, .m-59).h-4  .l-h-five,
:is(.m-35, .m-36, .m-37, .m-38, .m-39, .m-40, .m-41, .m-42, .m-43, .m-44, .m-45, .m-46, .m-47, .m-48, .m-49, .m-50, .m-51, .m-52, .m-53, .m-54, .m-55, .m-56, .m-57, .m-58, .m-59).h-5  .l-h-six,
:is(.m-35, .m-36, .m-37, .m-38, .m-39, .m-40, .m-41, .m-42, .m-43, .m-44, .m-45, .m-46, .m-47, .m-48, .m-49, .m-50, .m-51, .m-52, .m-53, .m-54, .m-55, .m-56, .m-57, .m-58, .m-59).h-6  .l-h-seven,
:is(.m-35, .m-36, .m-37, .m-38, .m-39, .m-40, .m-41, .m-42, .m-43, .m-44, .m-45, .m-46, .m-47, .m-48, .m-49, .m-50, .m-51, .m-52, .m-53, .m-54, .m-55, .m-56, .m-57, .m-58, .m-59).h-7  .l-h-eight,
:is(.m-35, .m-36, .m-37, .m-38, .m-39, .m-40, .m-41, .m-42, .m-43, .m-44, .m-45, .m-46, .m-47, .m-48, .m-49, .m-50, .m-51, .m-52, .m-53, .m-54, .m-55, .m-56, .m-57, .m-58, .m-59).h-8  .l-h-nine,
:is(.m-35, .m-36, .m-37, .m-38, .m-39, .m-40, .m-41, .m-42, .m-43, .m-44, .m-45, .m-46, .m-47, .m-48, .m-49, .m-50, .m-51, .m-52, .m-53, .m-54, .m-55, .m-56, .m-57, .m-58, .m-59).h-9  .l-h-ten,
:is(.m-35, .m-36, .m-37, .m-38, .m-39, .m-40, .m-41, .m-42, .m-43, .m-44, .m-45, .m-46, .m-47, .m-48, .m-49, .m-50, .m-51, .m-52, .m-53, .m-54, .m-55, .m-56, .m-57, .m-58, .m-59).h-10 .l-h-eleven,
:is(.m-35, .m-36, .m-37, .m-38, .m-39, .m-40, .m-41, .m-42, .m-43, .m-44, .m-45, .m-46, .m-47, .m-48, .m-49, .m-50, .m-51, .m-52, .m-53, .m-54, .m-55, .m-56, .m-57, .m-58, .m-59).h-11 .l-h-twelve,
:is(.m-35, .m-36, .m-37, .m-38, .m-39, .m-40, .m-41, .m-42, .m-43, .m-44, .m-45, .m-46, .m-47, .m-48, .m-49, .m-50, .m-51, .m-52, .m-53, .m-54, .m-55, .m-56, .m-57, .m-58, .m-59).h-12 .l-h-one,
/* minutes */
:is( .m-0,  .m-1,  .m-2,  .m-3,  .m-4)                             .l-o-clock,
:is( .m-5,  .m-6,  .m-7,  .m-8,  .m-9) :is(.l-m-five,              .l-past),
:is(.m-10, .m-11, .m-12, .m-13, .m-14) :is(.l-m-ten,               .l-past),
:is(.m-15, .m-16, .m-17, .m-18, .m-19) :is(.l-a-quarter,           .l-past),
:is(.m-20, .m-21, .m-22, .m-23, .m-24) :is(.l-m-twenty,            .l-past),
:is(.m-25, .m-26, .m-27, .m-28, .m-29) :is(.l-m-twenty, .l-m-five, .l-past),
:is(.m-30, .m-31, .m-32, .m-33, .m-34) :is(.l-half,                .l-past),
:is(.m-35, .m-36, .m-37, .m-38, .m-39) :is(.l-m-twenty, .l-m-five, .l-to),
:is(.m-40, .m-41, .m-42, .m-43, .m-44) :is(.l-m-twenty,            .l-to),
:is(.m-45, .m-46, .m-47, .m-48, .m-49) :is(.l-a-quarter,           .l-to),
:is(.m-50, .m-51, .m-52, .m-53, .m-54) :is(.l-m-ten,               .l-to),
:is(.m-55, .m-56, .m-57, .m-58, .m-59) :is(.l-m-five,              .l-to),
/* dots */
:is(.m-1, .m-6, .m-11, .m-16, .m-21, .m-26, .m-31, .m-36, .m-41, .m-46, .m-51, .m-56)     .l-d-1,
:is(.m-2, .m-7, .m-12, .m-17, .m-22, .m-27, .m-32, .m-37, .m-42, .m-47, .m-52, .m-57) :is(.l-d-1, .l-d-2),
:is(.m-3, .m-8, .m-13, .m-18, .m-23, .m-28, .m-33, .m-38, .m-43, .m-48, .m-53, .m-58) :is(.l-d-1, .l-d-2, .l-d-3),
:is(.m-4, .m-9, .m-14, .m-19, .m-24, .m-29, .m-34, .m-39, .m-44, .m-49, .m-54, .m-59) :is(.l-d-1, .l-d-2, .l-d-3, .l-d-4)
/* prettier-ignore-end */ {
  color: var(--clock-lit-color);
  text-shadow: 0 0 0.25em var(--clock-lit-color),
    0 0 0.5em var(--clock-lit-color);
}
